.map-container {
    width: 70%;
    height: 500px; /* Adjust this to control the height of the map */
    border: 1px solid #ccc; /* Optional: Add a border to the map container */
    margin: auto;
    border-radius: 8px;
}


.custom-marker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: purple; /* Custom marker color */
    border: 2px solid white;
}